html
  head
    title stats!
    include stylesheets.pug
  
  body(class="text-center")
  include ./partials/nav.pug
  div(role="main" class="detail-body")
  div(class="row featurette")
    div(class="col-md-7")
     
  main(role="main")
    div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
      div(class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center")
      h1(class="display-4") total plastic saved by #{session.passport.user.first_name} 
      - let resultArray = result[0]
      - let quantArray =[]
      div(class="row" class="row justify-content-center")
        each anonymous in resultArray
          div(class="col-lg-4")
            h2 #{anonymous.label} 
            p quantity:#{anonymous.quantity}
            - quantArray.push(+anonymous.quantity)
            img(src="images/wave.svg" class="rounded-circle" width="140" height="140" class="wave-it")
            p
              a(class="btn btn-outline-info btn-lg" href=`saved/${anonymous.SavedPlasticTypeId}` role="button") stats 
        -console.log(quantArray,"quanty")
        - let sum = 700 -quantArray.reduce((total,amount) => total + amount)
        -console.log (sum,"sum")
      div(class="jumbotron" class="my700")
        div(class="container")
          h1(class="display-1 h1 mb-3 font-weight-bold") my 700
            h1(class="h1 mb-3 font-weight-bold" id="my700") #{sum}




