html
  head
    title you rock!
    include stylesheets.pug
  body(class="detail-body")
    include ./partials/nav.pug
    
    
    unless result
      h1 you don't have any stats yet!


    block content
      - let resultArray = result[0]
  - console.log(resultArray, "result array")
  //sequelize query returns array of anonymous obj w/ plastic id and quantity
  each anonymous in resultArray
      h1 #{anonymous.label} total saved quantity:#{anonymous.quantity}
      - let quantity = +`${anonymous.quantity}`
      -let quantArray = new Array(quantity).fill('plastic')
      div(class="row")
        each plastic, index in quantArray
          div(class="card" class="reuse" style="width: 10rem;")
            img(src="/images/ecologism.svg" class="rounded-circle" width="140" height="140" class="recycleThis" id=`sup${index}`)
            div(class="card-body")
            button(class="reuse" class="reuseBtn" id=`${index}`) reuse!

script 
  include ../node_modules/jquery/dist/jquery.min.js
  include ../client/clientapp/sup.js